Udemy/viniciusandrade/ProEventos/backend/src/ProEventos.API/obj/Debug/net5.0/project.razor.json
Udemy/viniciusandrade/ProEventos/.vscode/launch.json
Udemy/viniciusandrade/ProEventos/.vscode/tasks.json
Udemy/viniciusandrade/ProEventos/backend/src/ProEventos.API/obj/Debug/net5.0/project.razor.json
